* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6f8;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


.logo h2 {
    color: #222;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 30px;
    padding-top: 5px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}


.menu li a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    position: relative;
}


.menu li a:hover {
    color: #ef0d09;
}

.logo{
    display: flex;
    gap: 5px;
}

.logo img{
    height: 50px;
    width: 50px;
}